@helper.form(action = routes.WhatsappController.generateScript, Symbol("enctype") -> "multipart/form-data") {
    <head>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/form.css")">
    </head>
    <body>
        <h1>PROGRAMA MILES DE MENSAJES DE WHATSAPP AUTOMÁTICAMENTE</h1>
        <ol>
            <li>
                Prepara tu archivo CSV de esta forma:
                <p>
                    Es muy importante que el archivo respete esta configuración  para que el sistema funcione:
                </p>
                <ol>
                    <li>
                        El archivo DEBE tener formato CSV:
                        <p><b>El sistema lee 3 columnas y debes respetar este orden:</b></p>
                        <ul>
                            <li><b>Columna A</b> => Números de contacto.</li>
                            <li><b>Columna B</b> => Nombre del que va a recibir el mensaje</li>
                            <li><b>Columna C</b>
                                => Campo variable de personalización (La información que insertes en este campo se reemplazará en el mensaje final).</li>
                        </ul>
                        <p><b><i>NOTA: EL CSV NO DEBE TENER HEADERS</i></b></p>
                        <input type="file" name="messageValues" value="Carga tu archivo" class="button">
                    </li>
                </ol>
            </li>
            <li>
                <p>Ingresa el mensaje que quieres enviar:</p>
                <p><b>Ejemplo:</b> Hola NAME tu show favorito es ANY_TEXT</p>

                <p>Ten en cuenta:</p>
                <ul>
                    <li>Pon la palabra NAME (con mayúsculas) en tu mensaje para que el sistema lo reemplace por el nombre de la persona</li>
                    <li>Pon la palabra ANY_TEXT en tu mensaje para que el sistema lo reemplace por lo que personalizaste en la columna C de tu archivo CSV o dejala en blanco para mandar el mismo contenido</li>
                </ul>

                <p>Ingresa tu mensaje: <input type="text" name="messageTemplate"></p>
            </li>
        </ol>

        <div>
            SOLO DISPONIBLE PARA ECUADOR: Arreglar números automáticamente (si estás en Ecuador y tus números no tienen formato +593 o tienen caracteres especiales, el sistema los arregla por ti).
            <p>Arreglar números: <input type="checkbox" name="fixNumber"></p>
        </div>
        <p>
            <input type="submit" value="GENERAR ENVÍOS AUTOMÁTICOS" style="padding: 10px">
        </p>
    </body>
}
